body{
    background-color: black;
    color: white;
    font-family: poppins;
}
nav{
    background-color: red;
    display: flex;
    justify-content: center;
}
span{
    color: red;
    font-size: 22px;
    font-weight: 800;
    text-decoration: none;
}
a{
    text-decoration: underline;
    color: inherit;
}
